{% extends "account/base.html" %}

{% block title %}Signup • Look at my photo{% endblock %}


{% block content %}
  <div class="page form-page">
    <div class="form">
      <div class="header">
        <a class="logo" href="{% url 'feed list' %}"><h1>Look At My Photo</h1></a>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert">
                <div class="alert-error">
                  <strong>{{ error|escape }}</strong>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert">
              <div class="alert-error">
                <strong>{{ error|escape }}</strong>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-block">
        <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-row">
            <label for="id_username">Username:</label>
            <input class="form-input" type="text" name="username" placeholder="Username" autofocus="autofocus" minlength="1" maxlength="150" required="" id="id_username">
          </div>
          <div class="form-row">
            <label for="id_password1">Password:</label>
            <input class="form-input" type="password" name="password1" placeholder="Password" required="" id="id_password1">
          </div>
          <div class="form-row">
            <label for="id_password2">Password (again):</label>
            <input class="form-input" type="password" name="password2" placeholder="Password (again)" required="" id="id_password2">
          </div>

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction" type="submit">Sign Up</button>
        </form>
      </div>
      <div class="from-footer">
        <p>Have an account? <a href="{% url 'account_login' %}">Log in</a></p>
      </div>
    </div>
  </div>

{% endblock %}
