{% extends 'base.html' %}

{% block title %}{{ object.username }} • Look at my photo{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

{% block main %}
  <div class="">
    <!-- Head -->
    <div class="page">
      <div class="user-profile-grid">
        <div class="avatar">
          {% if object.profile.avatar %}
            <img class="image-fit-placeholder" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Avatar" />
            <img class="rounded-circle img-fluid img-wrap" src="{{ object.profile.avatar.url }}" >
          {% endif %}
        </div>

        <div class="bio-grid">
          <div class="bio-grid__box">
            <div class="username">
              <h4>{{ object.username }}</h4>
            </div>
            <div class="bio-grid__follow">
              {% if request.user.username == object.username %}
                <a href="{% url 'edit profile' object.username %}">
                  <button class="unfollow-btn" type="button">Edit profile</button>
                </a>
              {% else %}

                  {% if follow %}
                    <a href="{% url 'unfollow' object.username %}">
                      <button class="unfollow-btn" type="button">Following</button>
                    </a>
                  {% else %}
                  <a href="{% url 'follow' object.username %}">
                    <button class="follow-btn" type="button">Follow</button>
                  </a>
                  {% endif %}
              {% endif %}
            </div>
          </div>

          <div class="post-count">
            <p><b>{{ object.post_set.count }}</b> posts</p>
          </div>

          <div class="followers-count">
            <p><b>{{ object.followers.count }}</b> followers</p>
          </div>

          <div class="following-count">
            <p><b>{{ object.following.count }}</b> following</p>
          </div>

          <div class="bio">
            <p>{{ object.profile.bio | linebreaks }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Posts -->
    <div class="page">
      <div class="post-grid infinite-container">
        {% for photo in object_list %}
          <div class="post-img infinite-item">
            <a href="{% url 'post detail' photo.slug %}" class="">
              <img class="image-fit-placeholder" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ photo.description }}" />
              <img class="img-fluid img-wrap" src="{{ photo.image.url }}">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="page page-post-detail">
      <div class="loading" style="display: none;">
        <p>Loading...</p>
      </div>
    </div>

    {% if page_obj.has_next %}
      <div class="page page-post-detail">
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"
          style="color: #fff">More</a>
      </div>
    {% endif %}

  </div>

{% endblock %}

